/* styles.css */
@keyframes scaleUp {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  .scale-up-animation {
    animation: scaleUp 1.5s ease-in-out infinite;
  }
  